* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body, html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.ttf");
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
.newsletter {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.newsletter__image {
  width: 100vw;
  height: 35vh;
  background-image: url("../assets/images/illustration-sign-up-mobile.svg");
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.newsletter__container {
  width: 85vw;
  margin: auto;
  font-family: Roboto;
}
.newsletter__container__heading {
  font-weight: 800;
  padding-bottom: 20px;
  padding-top: 20px;
}
.newsletter__container__subheading {
  font-size: 1rem;
  color: hsl(235, 18%, 26%);
}
.newsletter__container__subheading > p {
  padding: 10px;
}
.newsletter__container__benifits {
  font-size: 1rem;
  width: 83vw;
  color: hsl(235, 18%, 26%);
}
.newsletter__container__points p {
  padding-top: 0.7rem;
}
.newsletter__container__points__icon {
  width: 1.7rem;
  padding-right: 0.7rem;
}
.newsletter__container__email {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newsletter__container__email__heading {
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.newsletter__container__email__error {
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(4, 100%, 67%);
  flex-direction: row-reverse;
}
.newsletter__container__input {
  padding: 1rem;
  width: 85vw;
  border-radius: 0.5rem;
  border-color: hsl(231, 7%, 60%);
  border-style: solid;
  cursor: pointer;
}
.newsletter__container__submit {
  padding: 1rem;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.success {
  position: absolute;
  top: 15vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.success__image-container > img {
  width: 4rem;
}
.success__heading {
  padding-top: 1rem;
  font-family: roboto;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(234, 29%, 20%);
}
.success__para {
  padding-top: 1rem;
  font-family: roboto;
  color: hsl(234, 29%, 20%);
}
.success__para > span {
  font-weight: 700;
}
.success__button {
  position: absolute;
  top: 62vh;
  left: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.7rem;
}
.success__button > a {
  display: block;
  background-color: hsl(234, 29%, 20%);
  color: white;
  border-radius: 0.5rem;
  padding: 1.3rem;
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: roboto;
  width: 90%;
}

@media screen and (min-width: 786px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  .newsletter {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 17vh;
    overflow: hidden;
    width: 700px;
    height: 460px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-radius: 1.2rem;
    margin: auto;
  }
  .newsletter__image {
    width: 18.9rem;
    height: 27rem;
    border-radius: 1rem;
    background: url("../assets/images/illustration-sign-up-desktop.svg");
    background-size: cover;
  }
  .newsletter__container {
    width: 20rem;
    margin: 1rem;
    padding: 1.4rem;
  }
  .newsletter__container__heading {
    font-size: 2.5rem;
    color: hsl(234, 29%, 20%);
    font-weight: bold;
    padding-top: 0;
  }
  .newsletter__container__subheading {
    font-size: 0.76rem;
  }
  .newsletter__container__points {
    font-size: 0.76rem;
    padding-top: 1rem;
  }
  .newsletter__container__points p {
    padding: 0.2rem;
  }
  .newsletter__container__points__icon {
    width: 1.6rem;
  }
  .newsletter__container__email__heading, .newsletter__container__email__error {
    font-size: 0.7rem;
  }
  .newsletter__container__input {
    width: 100%;
    height: 2.5rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
  }
  .newsletter__container__submit:active, .newsletter__container__submit:hover {
    background: linear-gradient(to right, #ff3399 0%, #ff6600 100%);
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  .newsletter {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 17vh;
    overflow: hidden;
    width: 700px;
    height: 460px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-radius: 1.2rem;
    margin: auto;
  }
  .newsletter__image {
    width: 18.9rem;
    height: 27rem;
    border-radius: 1rem;
    background: url("../assets/images/illustration-sign-up-desktop.svg");
    background-size: cover;
  }
  .newsletter__container {
    width: 20rem;
    margin: 1rem;
    padding: 1.4rem;
  }
  .newsletter__container__heading {
    font-size: 2.5rem;
    color: hsl(234, 29%, 20%);
    font-weight: bold;
    padding-top: 0;
  }
  .newsletter__container__subheading {
    font-size: 0.76rem;
  }
  .newsletter__container__points {
    font-size: 0.76rem;
    padding-top: 1rem;
  }
  .newsletter__container__points p {
    padding: 0.2rem;
  }
  .newsletter__container__points__icon {
    width: 1.6rem;
  }
  .newsletter__container__email__heading, .newsletter__container__email__error {
    font-size: 0.7rem;
  }
  .newsletter__container__input {
    width: 100%;
    height: 2.5rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
  }
  .newsletter__container__submit:active, .newsletter__container__submit:hover {
    background: linear-gradient(to right, #ff3399 0%, #ff6600 100%);
  }
}
@media screen and (min-width: 786px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  .success {
    background-color: white;
    display: inherit;
    width: 33%;
    height: 43vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 25vh;
    border-radius: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
  }
  .success__image-container img {
    width: 3rem;
  }
  .success__para {
    font-size: 0.7rem;
  }
  .success__button {
    width: 28vw;
    margin-top: 1rem;
  }
  .success__button a {
    padding: 0.8rem;
    width: 90%;
    position: relative;
    top: -29.5vh;
    left: 1rem;
  }
  .success__button a:active, .success__button a:hover {
    background: linear-gradient(to right, #ff3399 0%, #ff6600 100%);
    cursor: pointer;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  .success {
    background-color: white;
    display: inherit;
    width: 24%;
    height: 43vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 25vh;
    border-radius: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
  }
  .success__image-container img {
    width: 3rem;
  }
  .success__para {
    font-size: 0.7rem;
  }
  .success__button {
    width: 80%;
    margin-top: 1rem;
  }
  .success__button a {
    padding: 0.8rem;
    width: 100%;
    position: relative;
    top: -29.5vh;
    left: 1rem;
  }
  .success__button a:active, .success__button a:hover {
    background: linear-gradient(to right, #ff3399 0%, #ff6600 100%);
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */